.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}.new-link{
  border:2px solid red;
  padding:2px;
  background-color: red;
  color: white;
  margin: 2px;
}
